@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
  --max-width: 600px;

  --foreground-rgb: 46, 41, 78;
  --background-rgb: 247, 240, 240;
  --accent-rgb: 244, 96, 54;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
