.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: montserrat, arial, verdana;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 4rem 2rem;
}

.helpers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
  width: var(--max-width);
}

.helpers details summary {
  cursor: pointer;
}

.helpers .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
}

.helpers .content .userInput form .singleLineInput {
  font-size: 0.9rem;
	margin-bottom: 1rem;
  padding: 1rem;
	width: 100%;
}

.helpers .content .userInput form input[type=submit] {
  border: 0.2rem solid rgb(var(--accent-rgb));
  box-shadow: inset 0 0 0 0 rgb(var(--accent-rgb));
  color: rgb(var(--background-rgb));
  cursor: pointer;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.helpers .content .userInput form input[type=submit]:hover {
  box-shadow: inset 15rem 0 0 0 rgb(var(--accent-rgb));
  color: rgb(var(--background-rgb));
}

.helpers .content .promptResults {
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-rgb));
  padding: 1.5rem 2rem;
}
